@font-face {
    font-family: 'cm-icons';
    src:    url('fonts/cm-icons.eot?hmvg5g');
    src:    url('fonts/cm-icons.eot?hmvg5g#iefix') format('embedded-opentype'),
        url('fonts/cm-icons.ttf?hmvg5g') format('truetype'),
        url('fonts/cm-icons.woff?hmvg5g') format('woff'),
        url('fonts/cm-icons.svg?hmvg5g#cm-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.cm-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cm-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cmi-feather:before {
    content: "\e614";
}
.cmi-cloud-lightning:before {
    content: "\e654";
}
.cmi-cloud-sync:before {
    content: "\e655";
}
.cmi-cloud-lock:before {
    content: "\e656";
}
.cmi-cloud-gear:before {
    content: "\e657";
}
.cmi-cloud-alert:before {
    content: "\e658";
}
.cmi-cloud-check:before {
    content: "\e659";
}
.cmi-cloud-cross:before {
    content: "\e65a";
}
.cmi-shield:before {
    content: "\e667";
}
.cmi-shield-check:before {
    content: "\e668";
}
.cmi-shield-alert:before {
    content: "\e669";
}
.cmi-shield-cross:before {
    content: "\e66a";
}
.cmi-lock:before {
    content: "\e66b";
}
.cmi-rotation-lock:before {
    content: "\e66c";
}
.cmi-unlock:before {
    content: "\e66d";
}
.cmi-star:before {
    content: "\e68d";
}
.cmi-star-half:before {
    content: "\e68e";
}
.cmi-star-empty:before {
    content: "\e68f";
}
.cmi-flag:before {
    content: "\e690";
}
.cmi-mailbox-full:before {
    content: "\e693";
}
.cmi-mailbox-empty:before {
    content: "\e694";
}
.cmi-inbox2:before {
    content: "\e69d";
}
.cmi-document:before {
    content: "\e6d8";
}
.cmi-license:before {
    content: "\e6db";
}
.cmi-license2:before {
    content: "\e6dc";
}
.cmi-medal-empty:before {
    content: "\e6dd";
}
.cmi-barcode:before {
    content: "\e747";
}
.cmi-barcode2:before {
    content: "\e748";
}
.cmi-tag:before {
    content: "\e755";
}
.cmi-tags:before {
    content: "\e756";
}
.cmi-receipt:before {
    content: "\e757";
}
.cmi-wallet:before {
    content: "\e758";
}
.cmi-credit-card:before {
    content: "\e759";
}
.cmi-cash-dollar:before {
    content: "\e75a";
}
.cmi-bag-dollar:before {
    content: "\e75e";
}
.cmi-abacus:before {
    content: "\e768";
}
.cmi-vault:before {
    content: "\e769";
}
.cmi-escape:before {
    content: "\e796";
}
.cmi-enter2:before {
    content: "\e797";
}
.cmi-bubbles:before {
    content: "\e7d7";
}
.cmi-bubble-text:before {
    content: "\e7db";
}
.cmi-bubble-user:before {
    content: "\e7df";
}
.cmi-link:before {
    content: "\e915";
}
.cmi-thumbs-up:before {
    content: "\e919";
}
.cmi-thumbs-down:before {
    content: "\e91a";
}
.cmi-thumbs-up2:before {
    content: "\e91b";
}
.cmi-thumbs-down2:before {
    content: "\e91c";
}
.cmi-find-replace:before {
    content: "\e924";
}
.cmi-notification:before {
    content: "\e954";
}
.cmi-warning:before {
    content: "\e955";
}
.cmi-notification-circle:before {
    content: "\e956";
}
.cmi-question-circle:before {
    content: "\e957";
}
.cmi-menu-circle:before {
    content: "\e958";
}
.cmi-checkmark-circle:before {
    content: "\e959";
}
.cmi-arrow-up-circle:before {
    content: "\e95e";
}
.cmi-arrow-down-circle:before {
    content: "\e95f";
}
.cmi-arrow-left-circle:before {
    content: "\e960";
}
.cmi-arrow-right-circle:before {
    content: "\e961";
}
.cmi-arrow-up-square:before {
    content: "\e991";
}
.cmi-arrow-down-square:before {
    content: "\e992";
}
.cmi-arrow-left-square:before {
    content: "\e993";
}
.cmi-arrow-right-square:before {
    content: "\e994";
}
.cmi-acc-multi:before {
    content: "\e900";
}
.cmi-acc-multi-server:before {
    content: "\e901";
}
.cmi-acc-sing:before {
    content: "\e902";
}
.cmi-acc-sing-server:before {
    content: "\e903";
}
.cmi-backup:before {
    content: "\e904";
}
.cmi-edit:before {
    content: "\e905";
}
.cmi-joined:before {
    content: "\e906";
}
.cmi-join-request:before {
    content: "\e907";
}
.cmi-ptx-multi:before {
    content: "\e908";
}
.cmi-ptx-multi-mod:before {
    content: "\e909";
}
.cmi-ptx-single:before {
    content: "\e90a";
}
.cmi-server:before {
    content: "\e90b";
}